<a href="https://colab.research.google.com/github/Harievashini/Data-Engineering/blob/main/Week%204-%20Data%20Validation/DataValidation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import csv
import pandas as pd
import numpy as np

In [2]:
from google.colab import drive
drive.mount('/content/drive/')

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [6]:
data= pd.read_csv('/content/drive/My Drive/Colab Notebooks/Oregon 2019.csv')
print(data)
data.head(15)

      Crash ID  ...  Participant Striker Flag
0      1809119  ...                       NaN
1      1809119  ...                       NaN
2      1809119  ...                       NaN
3      1809119  ...                       NaN
4      1809119  ...                       NaN
...        ...  ...                       ...
2734   1860771  ...                       NaN
2735   1860771  ...                       NaN
2736   1860771  ...                       NaN
2737   1860771  ...                       NaN
2738   1860771  ...                       NaN

[2739 rows x 157 columns]

    Crash ID  ...  Participant Striker Flag
0    1809119  ...                       NaN
1    1809119  ...                       NaN
2    1809119  ...                       NaN
3    1809119  ...                       NaN
4    1809119  ...                       NaN
5    1809229  ...                       NaN
6    1809229  ...                       NaN
7    1809229  ...                       NaN
8    1809229  ...                       NaN
9    1809637  ...                       NaN
10   1809637  ...                       NaN
11   1809637  ...                       NaN
12   1810874  ...                       NaN
13   1810874  ...                       NaN
14   1810874  ...                       NaN

[15 rows x 157 columns]

In [7]:
#Part B
#Existence assertion
ea1 =data[data['Crash ID']!="NaN"]
print(ea1)
ea2 =data[data['Record Type']!="NaN"]
print(ea2)

      Crash ID  ...  Participant Striker Flag
0      1809119  ...                       NaN
1      1809119  ...                       NaN
2      1809119  ...                       NaN
3      1809119  ...                       NaN
4      1809119  ...                       NaN
...        ...  ...                       ...
2734   1860771  ...                       NaN
2735   1860771  ...                       NaN
2736   1860771  ...                       NaN
2737   1860771  ...                       NaN
2738   1860771  ...                       NaN

[2739 rows x 157 columns]
      Crash ID  ...  Participant Striker Flag
0      1809119  ...                       NaN
1      1809119  ...                       NaN
2      1809119  ...                       NaN
3      1809119  ...                       NaN
4      1809119  ...                       NaN
...        ...  ...                       ...
2734   1860771  ...                       NaN
2735   1860771  ...                       NaN
2736   1860771  ...                       NaN
2737   1860771  ...                       NaN
2738   1860771  ...                       NaN

[2739 rows x 157 columns]

In [8]:
#Limit assertion
bool_series = data['Age'].between(1.0,9.0)
print(bool_series) #The "NaN" values show False others are true

0       False
1       False
2        True
3       False
4        True
        ...
2734    False
2735    False
2736     True
2737    False
2738     True
Name: Age, Length: 2739, dtype: bool

In [9]:
#Limit assertion
bool_series = data['Week Day Code'].between(1.0,7.0)
bool_series.all()

False

In [42]:
#Inter record assertions
inter_a1=CrashesDF['Latitude Degrees']==45.0
print(inter_a1.all()) 
inter_a2 = data['Latitude Minutes'].between(17.0,41.0)
inter_a2.all() #It returns False because of some NaN values

True

False

In [11]:
#summary assertions
print(len(data['Crash ID'].unique().tolist()))
print(len(data['Participant ID'].unique().tolist()))

508
1217

In [12]:
#referential assertions
ra1 = data[['Crash ID','County Code']]
ra1.isnull().all()

Crash ID       False
County Code    False
dtype: bool

In [13]:
ra2 = data[['Crash ID','Vehicle ID']]
ra2.isnull().all()

Crash ID      False
Vehicle ID    False
dtype: bool

In [15]:
#statistical assertions
sd1 = data['Highway Number'].isin([26])
print(sd1.describe())
sd2 = data['Crash Hour']
print(sd2.describe()) #using describe we can see the min,avg values to determine the type of distribution

count      2739
unique        2
top       False
freq       2231
Name: Highway Number, dtype: object
count    508.000000
mean      14.153543
std        9.131304
min        0.000000
25%       10.000000
50%       14.000000
75%       17.000000
max       99.000000
Name: Crash Hour, dtype: float64

Part C

From the above assertions, we could see few assertions failed. Both the limit assertions returned false, it should actually be true. This is because of null values. inter record assertion has also returned false. so I have split the data into three tables "crash","vehicle" and "participant"

In [19]:
#part D
CrashDF=data[data['Record Type']==1]
VehiclesDF = data[data['Record Type'] == 2]
ParticipantsDF = data[data['Record Type'] == 3]

CrashesDF = CrashDF.dropna(axis=1,how='all')
#CrashesDF.head()
VehiclesDF = VehiclesDF.dropna(axis=1,how='all')
#VehiclesDF.head()
ParticipantsDF = ParticipantsDF.dropna(axis=1,how='all')

In [20]:
CrashesDF.head(15)

    Crash ID  ...  Total Vehicle Occupant Count
0    1809119  ...                           1.0
5    1809229  ...                           0.0
9    1809637  ...                           0.0
12   1810874  ...                           0.0
16   1812266  ...                           3.0
26   1815964  ...                           1.0
31   1816804  ...                           0.0
34   1826266  ...                           0.0
40   1826321  ...                           0.0
46   1826490  ...                           0.0
49   1826513  ...                           0.0
57   1826673  ...                           0.0
63   1826794  ...                           0.0
77   1826971  ...                           0.0
84   1827119  ...                           0.0

[15 rows x 93 columns]

In [21]:
VehiclesDF.head(15)

    Crash ID  ...  Safety Equipment Used Quantity
1    1809119  ...                             1.0
3    1809119  ...                             0.0
6    1809229  ...                             1.0
10   1809637  ...                             1.0
13   1810874  ...                             1.0
17   1812266  ...                             1.0
19   1812266  ...                             0.0
22   1812266  ...                             0.0
24   1812266  ...                             0.0
27   1815964  ...                             1.0
29   1815964  ...                             0.0
32   1816804  ...                             1.0
35   1826266  ...                             1.0
38   1826266  ...                             0.0
41   1826321  ...                             1.0

[15 rows x 24 columns]

In [22]:
ParticipantsDF.head(15)

    Crash ID  Record Type  ...  Participant Event 2 Code  Participant Event 3 Code
2    1809119            3  ...                       0.0                       0.0
4    1809119            3  ...                       9.0                       0.0
7    1809229            3  ...                       0.0                       0.0
8    1809229            3  ...                       1.0                       0.0
11   1809637            3  ...                       0.0                       0.0
14   1810874            3  ...                       0.0                       0.0
15   1810874            3  ...                       1.0                       0.0
18   1812266            3  ...                       1.0                       0.0
20   1812266            3  ...                       1.0                       0.0
21   1812266            3  ...                       1.0                       0.0
23   1812266            3  ...                       0.0                       0.0
25   1812266            3  ...                       0.0                       0.0
28   1815964            3  ...                       1.0                       0.0
30   1815964            3  ...                       NaN                       0.0
33   1816804            3  ...                       1.0                       0.0

[15 rows x 33 columns]

In [23]:
#Existence assertion
ea1 =data[data['Crash ID']!="NaN"]
print(ea1)
ea2 =data[data['Record Type']!="NaN"]
print(ea2)
#All rows are returned, so it is existent

      Crash ID  ...  Participant Striker Flag
0      1809119  ...                       NaN
1      1809119  ...                       NaN
2      1809119  ...                       NaN
3      1809119  ...                       NaN
4      1809119  ...                       NaN
...        ...  ...                       ...
2734   1860771  ...                       NaN
2735   1860771  ...                       NaN
2736   1860771  ...                       NaN
2737   1860771  ...                       NaN
2738   1860771  ...                       NaN

[2739 rows x 157 columns]
      Crash ID  ...  Participant Striker Flag
0      1809119  ...                       NaN
1      1809119  ...                       NaN
2      1809119  ...                       NaN
3      1809119  ...                       NaN
4      1809119  ...                       NaN
...        ...  ...                       ...
2734   1860771  ...                       NaN
2735   1860771  ...                       NaN
2736   1860771  ...                       NaN
2737   1860771  ...                       NaN
2738   1860771  ...                       NaN

[2739 rows x 157 columns]

In [25]:
#Limit assertion
bool_series = ParticipantsDF['Age'].between(1.0,9.0)
print(bool_series) #The "NaN" values show False others are true

2        True
4        True
7        True
8       False
11       True
        ...
2728     True
2731     True
2733     True
2736     True
2738     True
Name: Age, Length: 1216, dtype: bool

In [26]:
#Limit assertion
bool_series = CrashesDF['Week Day Code'].between(1.0,7.0)
bool_series.all()

True

In [41]:
#Inter record assertions
inter_a1=CrashesDF['Latitude Degrees']==45.0
print(inter_a1.all()) 
inter_a2 = CrashesDF['Latitude Minutes'].between(17.0,41.0)
print("Latitude Minutes")
inter_a2.all() 
#Both are true

Latitude Degrees
True
Latitude Minutes

True

In [43]:
#summary assertions
print(len(CrashesDF['Crash ID'].unique().tolist()))
print(len(ParticipantsDF['Participant ID'].unique().tolist()))
#Both have returned the count of total rows in the tables. so it is correct

508
1216

In [32]:
#referential assertions
ra1 = CrashesDF[['Crash ID','County Code']]
ra1.isnull().all() #To check if there are null values
#it returns false which shows there is crashid for all country code

Crash ID       False
County Code    False
dtype: bool

In [33]:
ra2 = VehiclesDF[['Crash ID','Vehicle ID']]
ra2.isnull().all() #To check if there are null value 
#it returns false which shows there is crashid for all vehicle id

Crash ID      False
Vehicle ID    False
dtype: bool

In [34]:
#statistical assertions
sd1 = CrashesDF['Highway Number'].isin([26])
print(sd1.describe())
sd2 = CrashesDF['Crash Hour']
print(sd2.describe()) #using describe we can see the min,avg values to determine the type of distribution

count      508
unique       1
top       True
freq       508
Name: Highway Number, dtype: object
count    508.000000
mean      14.153543
std        9.131304
min        0.000000
25%       10.000000
50%       14.000000
75%       17.000000
max       99.000000
Name: Crash Hour, dtype: float64